<section class = "splash_page">
  <h1 class="app_name">PENNY WISE</h1>


<div class="pyramid-loader">
  <div class="wrapper">
    <span class="side side1"></span>
    <span class="side side2"></span>
    <span class="side side3"></span>
    <span class="side side4"></span>
    <span class="shadow"></span>
  </div>  
</div>

 <div class="d-flex flex-column fixed-bottom align-items-center justify-content-center text-center">
    <%= link_to "LOG IN", new_user_session_path, class: "text-white bg-primary w-100 p-3 nav-link" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link p-3 w-100" %>
  </div>

</section>